<script lang="ts">
	import {
		Header,
		HeaderNav,
		HeaderNavItem,
		SideNav,
		SideNavItems,
		SideNavMenu,
		SideNavMenuItem,
		SideNavLink,
		SideNavDivider,
		SkipToContent,
		HeaderUtilities,
		HeaderAction,
		HeaderPanelLinks,
		HeaderPanelDivider,
		HeaderPanelLink,
		Theme,
		LocalStorage,
		Content
	} from 'carbon-components-svelte';

	import TokenLogin from '$lib/Auth/TokenLogin.svelte';
	import PasswordLogin from '$lib/Auth/PasswordLogin.svelte';
	import Register from '$lib/Auth/Register.svelte';
	import { authStatus } from '../stores/auth';

	import Home from 'carbon-icons-svelte/lib/Home.svelte';
	import CatalogPublish from 'carbon-icons-svelte/lib/CatalogPublish.svelte';
	import Category from 'carbon-icons-svelte/lib/Category.svelte';
	import UserAvatarFilledAlt from 'carbon-icons-svelte/lib/UserAvatarFilledAlt.svelte';
	import DataBaseAlt from 'carbon-icons-svelte/lib/DataBaseAlt.svelte';

	import { page } from '$app/stores';
	import 'carbon-components-svelte/css/all.css';

	let isSideNavOpen = false;
	let isAuthMenuOpen = false;
	let isTokenAuthOpen = false;
	let isPasswordAuthOpen = false;
	let isRegisterOpen = false;
	let innerWidth = 0;
</script>

<svelte:window bind:innerWidth />

<Theme
	theme="g90"
	tokens={{
		'interactive-01': '#0A8608',
		'hover-primary': '#0A5308',
		'active-primary': '#0A8608'
	}}
/>

<Header company="Eaternity" platformName="EOS" bind:isSideNavOpen>
	<svelte:fragment slot="skip-to-content">
		<SkipToContent />
	</svelte:fragment>
	<HeaderNav>
		<HeaderNavItem isSelected={$page.url.pathname === '/'} href="/" text="Home" />
		<HeaderNavItem
			isSelected={$page.url.pathname === '/calculation'}
			href="/calculation"
			text="Calculation"
		/>
	</HeaderNav>
	<HeaderUtilities>
		<HeaderAction
			bind:isOpen={isAuthMenuOpen}
			icon={UserAvatarFilledAlt}
			closeIcon={UserAvatarFilledAlt}
		>
			<HeaderPanelLinks>
				{#if $authStatus.state == 'LOGGED_OUT'}
					<HeaderPanelLink
						on:click={() => {
							isPasswordAuthOpen = true;
						}}
					>
						Login
					</HeaderPanelLink>
					<HeaderPanelLink
						on:click={() => {
							isTokenAuthOpen = true;
						}}
					>
						Use API Token
					</HeaderPanelLink>
					<HeaderPanelDivider />
					<HeaderPanelLink
						on:click={() => {
							isRegisterOpen = true;
						}}
					>
						Register
					</HeaderPanelLink>
				{:else}
					<HeaderPanelDivider />
					<HeaderPanelLink
						on:click={() => {
							authStatus.set({
								state: 'LOGGED_OUT'
							});
						}}
					>
						Logout
					</HeaderPanelLink>
				{/if}
			</HeaderPanelLinks>
		</HeaderAction>
	</HeaderUtilities>
</Header>

<SideNav bind:isOpen={isSideNavOpen} rail={innerWidth < 1056}>
	<SideNavItems>
		<SideNavLink icon={Home} isSelected={$page.url.pathname === '/'} href="/" text="Home" />
		<SideNavLink
			icon={Category}
			isSelected={$page.url.pathname === '/calculation'}
			href="/calculation"
			text="Calculation"
		/>
		<SideNavDivider />
		<SideNavLink
			icon={CatalogPublish}
			isSelected={$page.url.pathname === '/glossary'}
			href="/glossary"
			text="Glossary"
		/>
		<SideNavLink
			icon={DataBaseAlt}
			text="Matching"
		/>
	</SideNavItems>
</SideNav>

<Content>
	<slot />
</Content>

<TokenLogin bind:isOpen={isTokenAuthOpen} />
<PasswordLogin bind:isOpen={isPasswordAuthOpen} />
<Register bind:isOpen={isRegisterOpen} />
