<script lang="ts">
	import type { PageData } from './$types';
	import type { TreeNode } from 'carbon-components-svelte/types/TreeView/TreeView.svelte';
	import { TreeView } from 'carbon-components-svelte';
	import { DataTableSkeleton } from 'carbon-components-svelte';
	import { Grid, Row, Column } from 'carbon-components-svelte';
	import {
		DataTable,
		Toolbar,
		ToolbarContent,
		ToolbarSearch,
		Pagination
	} from 'carbon-components-svelte';

	export let data: PageData;

	interface Term {
		uid: string;
		xid: string;
		name: string;
		sub_class_of: string;
	}

	interface TermRow {
		id: string;
		uid: string;
		xid: string;
		name: string;
		sub_class_of: string;
	}

	let rows: Array<TermRow> = [];
	let isLoadingRows = false;
	let pageSize = 14;
	let page = 1;
	let filteredRowIds = [''];

	let activeId = '';
	let selectedIds = [''];
	let children = data.term_tree;

	async function updateTableView(data: TreeNode & { expanded: boolean; leaf: boolean }) {
		rows = [];
		isLoadingRows = true;

		let url = `http://localhost:8040/v2/glossary/subtree/?depth=10&term_uid=${data.id}`;
		let response = await fetch(url);
		let sub_terms = await response.json();
		let rows_new: Array<TermRow> = [];
		sub_terms.terms.forEach((term: Term) => {
			rows_new.push({
				id: term.uid,
				uid: term.uid,
				xid: term.xid,
				name: term.name,
				sub_class_of: term.sub_class_of
			});
		});
		rows = rows_new;
		isLoadingRows = false;
	}
</script>

<svelte:head>
	<title>Glossary</title>
	<meta name="description" content="Glossary" />
</svelte:head>

<Grid noGutter fullWidth>
	<Row>
		<Column sm={6} md={6} lg={6}>
			<TreeView
				{children}
				bind:activeId
				bind:selectedIds
				on:select={({ detail }) => updateTableView(detail)}
				on:toggle={({ detail }) => console.log('toggle', detail)}
				on:focus={({ detail }) => console.log('focus', detail)}
			/>
		</Column>
		<Column sm={10} md={10} lg={10}>
			{#if isLoadingRows}
				<DataTableSkeleton />
			{/if}
			{#if !isLoadingRows}
				<DataTable
					headers={[
						{ key: 'name', value: 'Name', width: '40%', minWidth: '200px' },
						{ key: 'uid', value: 'UID', width: '20%', minWidth: '200px' },
						{ key: 'xid', value: 'XID', width: '20%', minWidth: '200px' },
						{ key: 'sub_class_of', value: 'sub_class_of', width: '20%', minWidth: '200px' }
					]}
					{rows}
					{pageSize}
					{page}
				>
					<Toolbar>
						<ToolbarContent>
							<ToolbarSearch
								persistent
								value=""
								shouldFilterRows={(row, value) => {
									return row.name.toLowerCase().includes(String(value).toLowerCase());
								}}
								bind:filteredRowIds
							/>
						</ToolbarContent>
					</Toolbar>
				</DataTable>

				<Pagination
					bind:pageSize
					bind:page
					totalItems={filteredRowIds.length}
					pageSizeInputDisabled
				/>
			{/if}
		</Column>
	</Row>
</Grid>
