<template>
  <v-app id="inspire">

    <v-app-bar
      app
      color="grey-lighten-3"
    >
      <div class="d-flex align-center">
        Eaternity
      </div>

      <v-spacer></v-spacer>

    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app permanent>
      <v-sheet color="blue-lighten-1" class="pa-4">
        <v-img
          alt="Eaternity"
          class="shrink mr-2"
          contain
          :src="logoImgUrl"
          transition="scale-transition"
        />
      </v-sheet>

      <v-divider></v-divider>

      <v-list>
        <v-list-item 
        v-for="(item, i) in items" 
        :key="i" 
        :to="item.link" 
        link>

          <template v-slot:prepend>
            <v-icon>{{ item.icon }}</v-icon>
          </template>

          <v-list-item-title>{{ item.text }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import logoImgUrl from './assets/Eaternity-logo-white-outline-small.png'
export default {
  name: 'App',
  data: () => ({
    logoImgUrl: logoImgUrl,
    cards: ['Today', 'Yesterday'],
    drawer: null,
    items: [
      {
        icon: "mdi-magnify",
        text: "Glossary",
        link: "/glossary",
      },
      {
        icon: "mdi-account-key",
        text: "Calculation",
        link: "/calculation",
      },
      {
        icon: "mdi-food-variant",
        text: "About",
        link: "/about",
      },
    ]
  }),
}
</script>