<template>
  <div class="about">
    <v-container fluid>
      <v-row>
        <v-col cols="12">
          <v-card outlined class="py-8 px-6">
            <h1>About</h1>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script setup>
</script>