<template>
  <div class="calculation">
    <v-container fluid>
      <v-row>
        <v-col cols="12">
          <v-card outlined class="py-8 px-6">
            <h1>Calculation</h1>
            <CalcGraph />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import CalcGraph from '../components/CalcGraph.vue'

export default {
  name: 'Calculation',

  components: {
    CalcGraph,
  },
}
</script>
