<template>
  <div class="glossary">
    <v-container fluid>
      <v-row>
        <v-col cols="12">
          <v-card outlined class="py-8 px-6">
            <h1>Glossary</h1>
            <div v-if="isLoading">Loading data. Please wait...</div>
            <Tree id="my-tree-id" ref="my-tree-ref" :custom-options="myCustomOptions" :custom-styles="myCustomStyles"
              :nodes="glossaryTree"></Tree>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import Tree from 'vuejs-tree'

const isLoading = ref(true);

const glossaryTerms = ref();

const glossaryTree = ref([]);

const myCustomStyles = ref({
  tree: {
    style: {
      height: 'auto',
      maxHeight: '300px',
      overflowY: 'visible',
      display: 'inline-block',
      textAlign: 'left'
    }
  },
  row: {
    style: {
      width: '540px',
      cursor: 'pointer'
    },
    child: {
      class: '',
      style: {
        height: '22px'
      },
      active: {
        class: 'custom_row_active_class',
        style: {
          height: '22px'
        }
      }
    }
  }
});

const myCustomOptions = ref({
  treeEvents: {
    expanded: {
      state: true,
      fn: null,
    },
    collapsed: {
      state: false,
      fn: null,
    },
    selected: {
      state: false,
      fn: null,
    }
  },
  events: {
    expanded: {
      state: true,
      fn: null,
    },
    selected: {
      state: false,
      fn: null,
    },
    checked: {
      state: false,
      fn: null,
    },
    editableName: {
      state: false,
      fn: null,
      calledEvent: null,
    }
  },
  addNode: { state: false, fn: null, appearOnHover: false },
  editNode: { state: true, fn: null, appearOnHover: true },
  deleteNode: { state: true, fn: null, appearOnHover: true },
  showTags: true,
});

onMounted(async () => {
  let url = 'http://localhost:8040/v2/glossary/';
  try {
    let res = await fetch(url);
    glossaryTerms.value = await res.json();
    console.log(`successfully loaded ${glossaryTerms.value.terms.length} glossary terms.`)

    var glossaryTreeNodesByUid = {};
    glossaryTerms.value.terms.forEach((term, i) => {
      glossaryTreeNodesByUid[term.uid] = {
        text: `${term.name}`,
        state: {
          expanded: true
        },
        nodes: [

        ],
        sub_class_of: term.sub_class_of
      };
    });

    var glossaryTreeRootNodes = [];
    for (const [key, node] of Object.entries(glossaryTreeNodesByUid)) {
      if (node.sub_class_of) {
        // add this term to the parent:
        glossaryTreeNodesByUid[node.sub_class_of].nodes.push(node);
      }
      else {
        // this is a root term:
        glossaryTreeRootNodes.push(node);
      }
    }

    glossaryTree.value = glossaryTreeRootNodes;
    isLoading.value = false;

  } catch (error) {
    console.log(error);
  }
})
</script>